*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    cursor: url('cursor.png'),auto;
    
    
    
}

.container{
    
    display: flex;
    flex-direction: row;
    height: auto;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.50);
    border-radius: 2px;
    
}
.box1{
    display: flex;
    flex-direction: column;
    background-color:rgb(224, 221, 221);
    width: 40%;
    padding: 30px;
    
}

header{
    display: flex;
    color: rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:22px;
    padding: 30px;
    
    

}
a{
    cursor: url('cursor-icon.png'),auto;
    transition: color 0.5s ease, font-size 0.3s ease;
    
}
a:hover{
    color: rgb(69, 68, 68);
    font-size: 1.2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
    
    

}




.profile-info{
    list-style: none;
    text-align: justify;
    padding-left: 20px;

    
}
.logo{
    height:13px;
    margin-right: 10px;
}
.link{
    text-decoration: none;
    color: black;
}
.logo.logo1{
    margin-top: 5px;
}
.profile-info li{
    display: flex;
    font-size:14px;
    margin-top: 10px;
}
.objective{
    margin-top: 40px;
    padding: 20px;
    
}
h4{
    margin-bottom: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 3px solid black;
    font-weight: 500;

    
}
.objective p {
    display: flex;
    text-align: justify;
    font-size: 14px;


}
.id{
    height:16px;
    margin-right: 10px;
}
.skill{
    margin-top: 30px;
    padding: 20px;
    
    

}
.skill-info{
    padding-left: 0px;
    
}

.skill-info li{
    list-style: none;
    margin-top: 10px;
    font-size: 14px;
}
.skill-icon{
    height: 22px;
    margin-right: 8px;

}
.language{
    margin-top: 40px;
    padding: 20px;
    
}
.language-info{
    
    display: flex;
    
    
}
#list1{
    list-style-type:disc;
    margin-left: 15px;

       
}
#list2{
    list-style-type: disc;
    margin-left: 40px;

}



.language-icon{
    height: 20px;
    margin-right: 10px;
}


.box2{
    background-color: rgb(240, 239, 239);
    width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    
}
.pro{
    padding: 20px;
    margin-top: 10px;
    
}
.pro p{
    display:flex;
    text-align: justify;
    font-size: 14px;
    margin-top: 10px;


}
.pro-icon{
    height: 20px;
    margin-right: 15px;
}

.education,.strength,.hobbie,.diclaration{
    padding: 20px;
    margin-top: 10px;
   
}
.education-icon{
    height: 20px;
    margin-right: 10px;
}
.pg{
    margin-bottom: 20px;
}
.pg p{
    margin-top: 7px;
    font-size: 13px;
}
.ug,.hsc{
    margin-bottom: 20px;
    

}

.ug p,.hsc p,.sslc p{
    display: flex;
    text-align: justify;
    margin-top: 7px;
    font-size: 13px;

}
.stren-icon{
    height: 24px;
    margin-right: 8px;

}
.stren-info li{
    margin-left: 15px;
    margin-top: 5px;
    font-size: 14px;
}
.hob-icon{
    height: 22px;
    margin-right: 10px;

}
.hobbie p{
    font-size: 14px;
}
.dicl-icon{
    height: 20px;
    margin-right: 10px;

}

@media (max-width:768px) {
    .container{
        flex-direction: column;
    }
    .box1{
        width: 100% 
    }
    .box2{
        width: 100%;
    }
}







 
 


    
    


              
